In [20]:
import oracledb

# Connect to the Oracle Database
connection =  oracledb.makedsn("db-etu.univ-lyon2.fr","1521","DBETU")

In [21]:
 con = oracledb.connect(user="m125",password="m125",dsn=connection)

In [22]:
 cursor = con.cursor()

In [69]:
table_name = "STRUCTURE"
table_check_query = f"SELECT COUNT(*) FROM all_tables WHERE table_name = '{table_name}'"
cursor.execute(table_check_query)
table_exists = cursor.fetchone()[0] > 0

if table_exists:
  print("structure already exists")
else:
  table = ('''CREATE TABLE STRUCTURE (
      ID int primary key NOT NULL,
      type varchar(255),
      name varchar(255))''')
  cursor.execute(table)
  print('Table created: STRUCTURE')

Table created: STRUCTURE

In [70]:
table_name = "HOSTELREVIEW"
table_check_query = f"SELECT COUNT(*) FROM all_tables WHERE table_name = '{table_name}'"
cursor.execute(table_check_query)
table_exists = cursor.fetchone()[0] > 0

if table_exists:
  print("hostelreview already exists")
else:
  table = ('''CREATE TABLE hostelreview (
      ReviewID NUMBER(10) GENERATED BY DEFAULT ON NULL AS IDENTITY,
      Name varchar(255),
      ReviewRate int,
      ReviewTime varchar(255),
      RewiewVisite varchar(255),
      ReviewText VARCHAR2(4000),
      VoyageType varchar(255),
      RoomRate NUMBER(2,1),
      EmplacementRate NUMBER(2,1),
      ServiceRate NUMBER(2,1),
      HostelType int,
      FOREIGN KEY (HostelType) REFERENCES structure(ID)
  )''')
  cursor.execute(table)
  print('Table created: HOSTELREVIEW')

Table created: HOSTELREVIEW

In [71]:
table_name = "SITEREVIEW"
table_check_query = f"SELECT COUNT(*) FROM all_tables WHERE table_name = '{table_name}'"
cursor.execute(table_check_query)
table_exists = cursor.fetchone()[0] > 0

if table_exists:
  print("structure already exists")
else:
  table = ('''CREATE TABLE sitereview (
      ReviewID NUMBER(10) GENERATED BY DEFAULT ON NULL AS IDENTITY,
      Name varchar(255),
      ReviewRate int,
      ReviewTime varchar(255),
      RewiewVisite varchar(255),
      ReviewText VARCHAR2(4000),
      SiteType int,
      FOREIGN KEY (SiteType) REFERENCES structure(ID)
  )''')
  cursor.execute(table)
  print('Table created: SITEREVIEW')

Table created: SITEREVIEW

In [5]:
dict = {1:(21,'hotel','Crockett Ranch'),2:(22,'hotel','Cheyenne'),3:(23,'hotel','Santa Fe'),4:(24,'hotel','Newport Bay Club'),5:(25,'hotel','Sequoia Lodge'),6:(26,'hotel','New York - The Art of Marvel',7:(11,'parc','Disneyland Paris'),8:(11,'parc','Studio'))}


for i in range(1,len(dict)+1):
    cursor.execute(f'INSERT INTO STRUCTURE (ID,type,name) values {dict[i]}')

cursor.execute('commit')

In [83]:
table_name = "'STRUCTURE','HOSTELREVIEW','SITEREVIEW'"
table_check_query = f"SELECT table_name FROM all_tables WHERE table_name IN ({table_name})"
cursor.execute(table_check_query)
tables = [table[0] for table in cursor.fetchall()]
print(tables)

['HOSTELREVIEW', 'STRUCTURE', 'SITEREVIEW']

In [6]:
cursor.execute('commit')

In [31]:

import pandas as pd


dict = {1:'Disney_s Davy Crockett Ranch 14h33-22-01.csv',2:'Disney_s Hotel Cheyenne 10h57-22-01.csv',3:'Disney_s Hotel Santa Fe 13h42-22-01.csv',4:'Disney_s Newport Bay Club 00h26-22-01.csv',5:'Disney_s Sequoia Lodge 10h24-22-01.csv',6:"Disney's Hotel New York - The Art of Marvel 20h59-21-01.csv"}

for l in range(1,len(dict)+1):
  data = pd.read_csv(dict[l])

  data.columns=['Name','ReviewRate','ReviewTime','ReviewVisite','ReviewText','VoyageType','RoomRate','EmplacementRate','ServiceRate']
  data['HostelType']=20+l


  cols = ",".join([str(i) for i in data.columns.tolist()])

  print(data['HostelType'][0])

  data = data.fillna("Null")
  for i,row in data.iterrows():

        sql = "INSERT INTO `hostelreview` (" + cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"

        t = list()
        for i in range(len(row)):
            if row[i] == "Null":
                t.append(None)
            else:
                t.append(row[i])  
        
        cursor.execute(sql, tuple(t))
        # the connection is not autocommitted by default, so we must commit to save our changes
        con.commit()

  # Confirm data import
  print("Data imported to the 'hostelreview' table.")

21

DatabaseError: DPY-4009: 0 positional bind values are required but 10 were provided

In [18]:
cols = ",".join([str(i) for i in data.columns.tolist()])
print(cols)

Name,ReviewRate,ReviewTime,ReviewVisite,ReviewText,VoyageType,RoomRate,EmplacementRate,ServiceRate,HostelType

In [ ]:
data.columns=['Name','ReviewRate','ReviewTime','ReviewVisite','ReviewText','VoyageType','RoomRate','EmplacementRate','ServiceRate']
data['HostelType']=21


cols = ",".join([str(i) for i in data.columns.tolist()])

sql = "INSERT INTO `hostelreview` (" + cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"

In [57]:
dict = {1:'Disney_s Davy Crockett Ranch 14h33-22-01.csv',2:'Disney_s Hotel Cheyenne 10h57-22-01.csv',3:'Disney_s Hotel Santa Fe 13h42-22-01.csv',4:'Disney_s Newport Bay Club 00h26-22-01.csv',5:'Disney_s Sequoia Lodge 10h24-22-01.csv',6:"Disney's Hotel New York - The Art of Marvel 20h59-21-01.csv"}

for l in range(1,len(dict)+1):
  data = pd.read_csv(dict[l])

  data.columns=['Name','ReviewRate','ReviewTime','ReviewVisite','ReviewText','VoyageType','RoomRate','EmplacementRate','ServiceRate']
  data['HostelType']=20+l
  
  cols = ",".join([str(i) for i in data.columns.tolist()])

  print(data['HostelType'][0])

  data = data.fillna("Null")
  data = data[0:1]
  for i,row in data.iterrows():

    t = list()
    for i in range(len(row)):
      if row[i] == "Null":
        t.append(None)
      else:
        t.append(row[i])  
    

    sql = "INSERT INTO HOSTELREVIEW (" + cols + ") VALUES (" + '"%s",%s,"%s","%s","%s","%s",%s,%s,%s,%s)'

    print(sql%tuple(t))
    cursor.execute(sql%tuple(t))
    con.commit()

21

TypeError: not all arguments converted during string formatting

In [19]:
import os
import pandas as pd

os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\datasets')
dict = {1:'Disney_s Davy Crockett Ranch 14h33-22-01.csv',2:'Disney_s Hotel Cheyenne 10h57-22-01.csv',3:'Disney_s Hotel Santa Fe 13h42-22-01.csv',4:'Disney_s Newport Bay Club 00h26-22-01.csv',5:'Disney_s Sequoia Lodge 10h24-22-01.csv',6:"Disney's Hotel New York - The Art of Marvel 20h59-21-01.csv"}







for l in range(1,len(dict)+1):
  os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\datasets')
  data = pd.read_csv(dict[l])

  data.columns=['Name','ReviewRate','ReviewTime','ReviewVisite','ReviewText','VoyageType','RoomRate','EmplacementRate','ServiceRate']
  data['HostelType']=20+l

  data['RoomRate'] = data['RoomRate'].astype('Int64')
  data['EmplacementRate'] = data['EmplacementRate'].astype('Int64')
  data['ServiceRate'] = data['ServiceRate'].astype('Int64')

  os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\data_bdd')
  data.to_csv(dict[l])

In [20]:
import os
import pandas as pd

os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\datasets')
dict = {1:'Disneyland Paris 17h29-22-01.csv',2:'Parc Walt Disney Studios 15h28-22-01.csv'}


for l in range(1,len(dict)+1):
  os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\datasets')
  data = pd.read_csv(dict[l])

  data.columns=['Name','ReviewRate','ReviewTime','ReviewVisite','ReviewText']
  data['HostelType']=10+l
  os.chdir(r'C:\Users\Utilisateur\Documents\GitHub\SISE_Disney_GoogleReviews\data_bdd')
  data.to_csv(dict[l])